* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: saturate(1.8) blur(20px);
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 2rem;
    /* Height will need to be fixed later */
    top: 0;
    z-index: 1;
}

.sections {
    display: flex;
    /* width: 20vw; */
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    list-style: none;
    padding-right: 2rem;
}

.section a {
    color: white;
    text-decoration: none;
}

header a {
    color: white;
    text-decoration: none;
}

.empty {
    height: 2rem;
    width: 100vw;
    background-color: #00001A;
}

#home {
    width: 100vw;
    background-color: #00001a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

#home h1,
#home p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3.5rem;
}

#home a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: 2rem;
}

#about {
    width: 100vw;
    background-image: linear-gradient(rgb(48, 161, 202), rgb(240, 240, 240));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#about p {
    width: 30%;
}

#skills-section {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

#skills-section h1,
#skills-section p {
    color: white;
}

#skills-section img {
    width: 8rem;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#projects {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#contact {
    width: 100vw;
    background-color: #00001a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#contact h1 {
    color: white;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#contact input:not([type="submit"]),
#contact textarea {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin: 1rem;
}

.disabled-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    align-self: center;
}

.enabled-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    align-self: center;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 1rem 1.5rem;
    padding: 0;
}