* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
}

header {
    background-color: rgba(46, 41, 41, .4);
    backdrop-filter: saturate(1.8) blur(20px);
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 2rem;
    /* Height will need to be fixed later */
    top: 0;
    z-index: 1;
}

.sections {
    display: flex;
    /* width: 20vw; */
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    list-style: none;
    padding-right: 2rem;
}

.section a {
    color: white;
    text-decoration: none;
}

.nav-wrapper a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 3px;
}

header a {
    color: white;
    text-decoration: none;
}

.empty {
    height: 2rem;
    background-color: #000000;
}

#home {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    padding-bottom: 15rem;
}

#home h1,
#home p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3.5rem;
}

#home a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: 2rem;
}

#home a:hover {
    background-color: white;
    color: black;
}

#about {
    /* background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(180, 174, 174) 15%, rgb(180, 174, 174) 85%, rgb(0, 0, 0) 100%); */

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%),
        url(static/About-Background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    padding-bottom: 8rem;
    text-align: center;
}

#about h1 {
    color: white;
    font-size: 2.5rem;
}

#about p {
    width: 80%;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
}

#skills-section {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
}

#skills-section h1,
#skills-section p {
    color: white;
    font-size: 2.5rem;
}

#skills-section img {
    width: 8rem;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#projects {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%), url(static/Project-Background.jpg); */
    background-image: url(static/Project-Background.jpg);
    background-size: cover;
    background-position: center;
    /* filter: saturation(0.5); */
    filter: contrast(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#projects h1 {
    color: white;
    font-size: 2.5rem;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    padding: 1rem;
    filter: contrast(100%);
}

.slide img {
    width: 60%;
    height: 450px;
    opacity: 0.9;
    border: 1px solid black;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    color: white;
}

.left-arrow {
    font-size: 4rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 30%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.right-arrow {
    font-size: 4rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 30%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#contact {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#contact h1 {
    color: white;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#contact input:not([type="submit"]),
#contact textarea {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin: 1rem;
}

.disabled-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    align-self: center;
}

.enabled-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    align-self: center;
}

footer {
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 1rem 1.5rem;
    padding: 0;
}

footer a:hover {
    color: black;
    background-color: white;
    border-radius: 3px;
}

@media screen and (max-width: 1400px) {
    .slide {
        flex-direction: column;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .project-description {
        padding: 1rem;
    }

    .project-description p {
        font-size: 1.5rem;
    }

    .project-description h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 60%;
    }
}

/* @media screen and (max-width: 800px) {
    .sections {
        display: none;
    }

    .section {
        display: none;
    }

    header {
        padding-left: 1rem;
    }

    header a {
        font-size: 1.25rem;
    }

    #home {
        padding: 5rem;
        padding-bottom: 10rem;
        text-align: center;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.5rem;
    }

    #home a {
        margin-top: 1rem;
    }

    #about {
        padding: 3rem;
        padding-bottom: 5rem;
    }

    #about h1 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1.2rem;
    }

    #skills-section {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    #skills-section h1 {
        font-size: 2rem;
    }

    #skills-section p {
        font-size: 1.2rem;
    }

    .skills {
        width: 80%;
    }

    #skills-section img {
        width: 6rem;
    }

    .skill {
        margin: 0.5rem;
    }

    #projects {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    #projects h1 {
        font-size: 2rem;
    }

    .slide {
        flex-direction: column;
        padding: 0;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .project-description {
        padding: 0;
    }

    .project-description p {
        padding: .5rem;
        margin: 0;
    }

    .left-arrow,
    .right-arrow {
        font-size: 1.5rem;
    }

    #contact {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    #contact h1 {
        font-size: 2rem;
    }

    #contact form {
        margin: 1rem;
    }

    #contact input:not([type="submit"]),
    #contact textarea {
        margin: 0.5rem;
    }

    .disabled-button {
        margin-top: 0.5rem;
    }

    .enabled-button {
        margin-top: 0.5rem;
    }

    footer a {
        margin: 1rem;
    }
} */